@model CV_Website.Models.User


<form asp-action="Update" method="post">
<div id="VU" class="profil">
        <h2>Inställningar</h2>

    <div class="profile-field1">
        <label>Namn:</label>
        <input asp-for="Name" />
       
    </div>

        <br />

    <div class="profile-field2">
        <label>Address:</label>
        <input asp-for="Address" />
      
    </div>

        <br />

    <div class="profile-field3">
        <label>Email:</label>
        <input asp-for="Email" />
      
    </div>

        <br />

    <div class="profile-field4">
        <label>Privat:</label>
        <input asp-for="Private" type="checkbox"/>
        
    </div>

        <br />
</div>
    <button type="submit">Spara</button>
</form>

