@model CV_Website.Models.User


<form asp-action="Update" method="post">
<div id="VU" class="profil">
        <h2>Inställningar</h2>

        <div class="form-row">
            <div class="form-group col-md-6">
             <input asp-for="Name" class="form-control" id="inputName4" placeholder="Namn" />
            <span asp-validation-for="Name"></span>
            </div>
        </div>

        <br />

        <div class="profile-field3">

            <div class="form-group col-md-6">
            <input asp-for="Email" class="form-control" id="inputEmail4" placeholder="Email" />
            <span asp-validation-for="Email"></span>
            </div>

        </div>
        <br />

    <div class="profile-field2">
            <div class="form-group col-md-6">
                <input asp-for="Address" class="form-control" id="inputAddress" placeholder="Adress" />
            <span asp-validation-for="Address" ></span>
            </div>
    </div>

        <br />


    <div class="profile-field4">
        <label>Sätt din profil till privat</label>
        <input asp-for="Private" type="checkbox"/>
        
    </div>

        <br />
</div>
    <button type="submit">Spara</button>
</form>

