@model CV_Website.Models.User

<h2>Inställningar</h2>


<form asp-action="Update" method="post">
<div class="profil">
    <div class="profile-field1">
        <label>Namn:</label>
        <input asp-for="Name" />
       
    </div>


    <div class="profile-field2">
        <label>Address:</label>
        <input asp-for="Address" />
      
    </div>


    <div class="profile-field3">
        <label>Email:</label>
        <input asp-for="Email" />
      
    </div>


    <div class="profile-field4">
        <label>Synlighet:</label>
        <input asp-for="Private" />
        
    </div>
</div>
</form>

