@model CV_Website.Models.User

<div id="UID" class="PersonalPage">
	<div id="Info" class="p-f1"
	<img src="https://cdn.pixabay.com/photo/2016/12/07/21/01/cartoon-1890438_640.jpg" alt="Test" />

</div>