
@{
    ViewData["Title"] = "_Partialview";
}

@model IEnumerable<CV_Website.Models.User>

<ul id="userlist">
    @foreach (var user in Model)
    {
        <a id="CvlinkItem" href="@Url.Action("GoToUserPage", "User", new { userId = user.UserId })">
        <li>@user.Name</li>
        </a>
    }
</ul>



