html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#Cvpreview {
    max-width: 100%;
    font-size: 12px;
}

#Cvlink {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
    
}

#Cvlink a {
    border: 2px solid #000;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);

    transition: transform 0.3s ease;

    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
    /*background-color: red;*/
}
    #Cvlink a:hover {
        transform: scale(1.05); 
    }

cvlink hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
